@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans+Narrow&display=swap');

body {
  /* background-color: rgb(30, 180, 93); */
  background: #ffffff;
  height: 100vh;
}

.MainBody {

  /*border-radius: 21px;*/
  background: #cfcfcf;
  height: 100%;
  
  /* box-shadow: 10px 10px 20px #ffffff,
    -10px -10px 20px #ffffff; */

  /* border-radius: 50px; */
  /* border: 1px solid black; */
  /* margin: 50px; */
  /* display: flex;
  flex-direction: column; */
}

.head {
  width: inherit;
  /* border: 1px solid black; */
  flex: 1;
}
.icon {
  color: rgb(170, 170, 170);
  height: 40px;
  width: 50px;
}


.content1 {
  /* flex: 1.5;
  margin: 5px; */
  /* border: 1px solid green; */
  
  background: #e6e6e6;
  
}

.content2 {
  /* flex: 6; */
  /* border: 1px solid green; */
  background: #e6e6e6;
  height: 100%;
  display: block;
  
}