.Navbar {
    width: inherit;
    height: 100%;
    margin: 10px;

    display: flex;
    flex-direction: column;
}

.Content {
    flex: 1;
    text-align: center;
    margin-top: 10px;
    padding: 30px;
    height: fit-content;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.Content:hover {
    
    border-radius: 5px;
    background: #22a056;
    box-shadow: inset -11px 11px 22px #13582f,
                inset 11px -11px 22px #13582f;

    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}